<!DOCTYPE html>
<html>
<head>
  <title>Chatter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Chatter", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <% if user_signed_in? %>
        <p class="navbar-text navbar-right">
          <%= current_user.handle %> |
          <%= link_to "Sign Out", destroy_user_session_path, class: "navbar-link", method: :delete %>
        </p>
      <% else %>
        <p class="navbar-text navbar-right">
          <%= link_to "Sign In", new_user_session_path, class: "navbar-link" %>
        </p>
      <% end %>
    </div>
  </div>
</nav>


<%= yield %>

</body>
</html>
