<!DOCTYPE html>
<html>
<head>
  <title>Chatter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag('chatter.png', size: '65', class: 'menu-image'), "https://github.com/Maimer/chatter" %>
        <%= link_to "Chatter", "https://github.com/Maimer/chatter", class: "navbar-brand padding-fix" %>
      </div>
      <div>
        <% if user_signed_in? %>
          <p class="navbar-text navbar-right padding-fix">
            <%= link_to current_user.handle, edit_user_registration_path, class: "navbar-link" %> |
            <%= link_to "Sign Out", destroy_user_session_path, class: "navbar-link", method: :delete %>
          </p>
        <% else %>
          <p class="navbar-text navbar-right padding-fix">
            <%= link_to "Sign In", new_user_session_path, class: "navbar-link" %>
          </p>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="contrainer">

    <%= yield %>

  </div>
</body>
</html>
